@model  AuthorizeViewModel 


<form method="post">
    <div>
        <label asp-for="ClientId" class="col-md-2 control-label"></label>
        <div class="col-md-10">
            <input asp-for="ClientId" class="form-control" />
        </div>

        <br />
        <div>
            <input type="submit" value="Login with CommunAxiom.Accounts" class="submit" />
        </div>
    </div>
</form>