@model CommunAxiom.Accounts.Models.AppClaim
@{
    ViewData["Title"] = "Application Details";
    bool showSecret = TempData.ContainsKey("showSecret") ? (bool)TempData["showSecret"] : false;
}

<div class="level">
    <div class="level-item">
        <div class="card w-25">
            <div class="card-header">
                <div class="card-header-title">
                    <p class="title is-4">
                        @ViewData["Title"]
                    </p>
                </div>
                <div class="card-header-icon">
                    <a asp-action="Details" asp-controller="AppNamespace" asp-route-id="@Model.AppNamespaceId"><img src="~/Images/Back.png" class="icon" /></a>
                </div>
            </div>
            <div class="card-content">
                <div class="field">
                    <label asp-for="ClaimName" class="label"></label>
                    <span class="is-primary">@Model.ClaimName</span>
                </div>
                <div class="field">
                    <label asp-for="Description" class="label"></label>
                    <span class="is-primary">@Model.Description</span>
                </div>
            </div>
        </div>
    </div>
    
</div>




