@model CommunAxiom.Accounts.Models.AppNamespace
@{
    ViewData["Title"] = "Delete Application Namespace";
}

<div class="level">
    <div class="level-item">
        <div class="card w-25">
            <div class="card-header">
                <div class="card-header-title">
                    <p class="title is-4">
                        @ViewData["Title"]
                    </p>
                </div>
                <div class="card-header-icon">
                    <a asp-action="Index"><img src="~/Images/Back.png" class="icon" /></a>
                </div>
            </div>
            <div class="card-content">
                <div class="field">
                    <label asp-for="Name" class="label"></label>
                    <span class="is-primary">@Model.Name</span>
                </div>
                <div class="field">
                    <label asp-for="Description" class="label"></label>
                    <span class="is-primary">@Model.Description</span>
                </div>
                <div class="field">
                    <form asp-action="Delete">
                        <input type="hidden" asp-for="Id" />
                        <input type="submit" class="button is-link" value="Confirm deletion" />
                        <a asp-action="Index" class="button is-danger">Cancel</a>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>




