@model IEnumerable<ApplicationType>
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<div class="container">
    <div class="level content">
        <h1 class="level-item is-4">Applications Types</h1>
    </div>
    <hr />
    <table class="table">
        <thead>
            <tr>
                <th><abbr title="Name">Name</abbr></th>
                <th><abbr title=""><a asp-controller="ApplicationType" asp-area="Management" asp-action="Add"><img class="icon" src="~/Images/Add.png" /></a></abbr></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>@item.Name</td>
                    <td>
                        <a asp-action="Details" asp-area="Management" asp-controller="ApplicationType" asp-route-id="@item.Id"><img src="~/Images/View.png" class="icon" /> </a> 
                        <a asp-action="Edit" asp-area="Management" asp-controller="ApplicationType" asp-route-id="@item.Id"><img src="~/Images/Edit.png" class="icon" /> </a> 
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>
